body {
    margin: 0;

    

    font-family: Tohoma;
    line-height: 1.5;
    font-size: 18px;
}

.title {
    font-size: 45px;
    color: red;
}

.card {
    width: 400px;
    margin: 32px auto;
    padding: 20px;

    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-user-drag: none;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: rgb(122, 9, 9);

}

.card-text {
    font-size: 14px;
}

.card-subtitle {
    font-size: 18px;
    color: #ff0000;
}

.card-list {
    padding-left: 0;
    list-style-position: inside;
}

section {
    margin: 32px auto;
    width: 1024px;
    background-color: #f1f1f1;
    padding: 32px;
    border-radius: 10px;
}

.background {
    position:fixed;
    top: 0;
    left: 0;
    background: url("../img/Outline_of_Ukraine.svg");
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center 3%;
}

.kosyak:hover {
    animation-name: kosyakRotation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.kosyak {
    width: 64px;
    height: 64px;
    cursor: grab;
    font-size: 32px;
    margin: 0 auto;
}

@keyframes kosyakRotation {
    0%{
        -webkit-transform: rotate(0deg) scale(1);
    }
    50%{
        -webkit-transform: rotate(1440deg) scale(30);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1)
    }
}
a {
    color:#000;
    text-decoration: none;
}
.badge-privat {
background-color: #211f20;
padding: 10px;
color:white;
border-radius: 8px;
box-sizing: border-box;
display:flex;
align-items: center;
box-shadow:#5dba44 0 0 0 8px;
margin-bottom: 30px;
}

.badge-privat a {
    color: #5dba44;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.badge-privat .privat-logo {
width: 64px;
height: 64px;
background-image: url("../img/cdnlogo.com_privat-bank.svg");
display: inline-block;
margin-right: 8px;
}

.badge-mono {
    background-color: #26272c;
    display:flex;
    align-items: center;
    padding: 10px;
    box-shadow: #41444d 0 0 0 8px;
    border-radius: 8px;
}

.badge-mono a{
    color: #feffff;
    font-size: 30px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.badge-mono .mono-logo {
    width: 64px;
height: 64px;
background-image: url("../img/601e05ab5e900.png");
display: inline-block;
margin-right: 8px;
background-size: contain;
}